*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color:#fff;
}

.contenedor{
    margin: auto;
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header{
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style:none;
    
}

header .menu a {
    color:#fff;
    text-decoration: none;
    margin-right: 40px;
    font-size: 16px;
    margin-bottom:30px;
}
header .menu a:hover {
    text-decoration: underline;
}

body {
    background:#000;
    color:#fff;
    font-family: Arial, sans-serif;
}



.nosotros, .productos, .galeria{

    padding:30px 30px;
    line-height:27px;
}

.nosotros h1{
    margin-bottom: 30px;
}
.productos h1
{
    margin-bottom: 30px;
}

.galeria {
    width: 100%;
    height: auto;
}
.galeria h1
{
    margin-bottom: 30px;
}
.galeria img {
    vertical-align: top;
    width:40%;
    margin:20px;
    padding:5px; 
    opacity: 0.5;
    border: 1px solid #484848;
} 

.galeria img:hover{
    border: 1px solid #fff;
    opacity:1;
}

.formulario{
    background: #fff;
    width: 50%;
    margin:20px auto;
    padding:20px;
    border-radius: 5px;

}

.formulario input{
    display:block;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea
{
 width:100%;
 padding: 20px;
 margin-bottom: 20px;
 border-radius: 3px;
 border:1px solid #226fc1;
 font-family: Arial;
 font-size: 16px;

}

.formulario textarea {
    min-height: 120px;
    max-height: 300px;
    min-width: 100%;
    max-width: 100%;
}


.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea:focus
{
border:2px solid #4fb560;
}



.formulario input[type="submit"]
{
    width: 20%;
    margin:0 auto;
    background: none;
    border:1px solid #4fb560;
    color: #4fb560;
    padding:10px ;
    cursor: pointer;
    font-size:16px;
    border-radius: 3px;
}

.formulario input[type="submit"]:hover
{
    background: #4fb560;
    color: #fff;
}

footer{
    color:#fff;
    background: #000;
    display:block;
    width: 100%;
}



.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

@media screen and (600px) {

    .galeria img {
        height: 15%;
        width: 40%;
    }
    
    .formulario input [type="submit"]{
        width: 100%;
    }
}